* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Set font size for easy rem calculations
   default document font size = 16px, 1rem = 16px, 100% = 16px
   (100% / 16px)   10 = 62.5%, 1rem = 10px, 62.5% = 10px */


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* background: #2b202d; */
    /* color: #ffffff; */
    font-size: 2rem;
}

#introduction {
    height: 100vh;
    font-size: 1.5em;
    /* color: #184e77; */
    /* background: #34a0a4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    text-align: center;
    gap: 1em;
    transition: transform 1s ease;
}

h1 {
    font-size: 2.5em;
}

.hop {
    animation: hop 3s cubic-bezier(0, 0, 0.58, 1.0) forwards;
}

@keyframes hop {
    0% {
        transform: translateY(-80px);
    }

    10% {
        transform: translateY(80px);
    }

    20% {
        transform: translateY(-60px);
    }

    30% {
        transform: translateY(60px);
    }

    40% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }

    60% {
        transform: translateY(-20px);
    }

    70% {
        transform: translateY(20px);
    }

    80% {
        transform: translateY(-20px);
    }

    90% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

#graphs {
    width: 50%;
    margin: 0 auto;
    /* height: 300px; */
    padding: 50px;
}


#about {
    background: #76c893;
    /* height: 100vh; */
    position: relative;

}

#about-grid {
    padding: 170px;
}

.about-inner {
    padding: 100px 150px 10px 150px;
}

#about-intro p {
    width: 40%;
    margin-top: 50px;
}

about-infographic {
    position: relative;
    width: 500px;
    height: 500px;
    left: auto;
}

.circle {
    position: absolute;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/* Individual circle colors and positions */
.circle1 {
    background-color: rgba(72, 176, 222, 0.4);
    /* Blue */
    right: 290px;
    top: 150px;
    /* left: 50px; */
    width: 270px;
    height: 270px;
}

.circle2 {
    background-color: rgba(255, 235, 59, 0.4);
    /* Yellow */
    top: 120px;
    right: 50px;
    width: 300px;
    height: 300px;
}

.circle3 {
    background-color: rgba(255, 87, 34, 0.4);
    /* Orange */
    top: 350px;
    right: 100px;
    width: 240px;
    height: 240px;
}

.circle4 {
    background-color: rgba(156, 39, 176, 0.4);
    /* Purple */
    top: 350px;
    right: 290px;
    width: 300px;
    height: 300px;
}